body{
    font-family: Arial, sans-serif;
    color: aliceblue;
    background-color: black;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px; 
}

pre {
    font-family: Arial, sans-serif;
    font-size: 16px; 
}
h1{
    font-style: italic;
    color: aqua;
}

h3{
    color: rgb(30, 202, 30);
}

h5{
    color: rgb(53, 167, 205);
}

.copyright{
    font-family:Roboto;
    font-weight: 100;
    color: grey;
    margin: 20px;

}

.photo{
    margin: 50px;
    height: 200px;
    width: 200px;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 80px;
}

