body{
    font-family: Arial, sans-serif;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px; 
}

pre {
    font-family: Arial, sans-serif;
    font-size: 16px; 
}
h1{
    font-style: italic;
}
.copyright{
    font-family:Roboto;
    font-weight: 100;
    color: grey;
    margin: 20px;

}

img{
    margin-right: 50px;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 80px;
}

